body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Gluten;
}
.container {
    display: grid;
    grid-template-columns: 85vw 15vw;
    grid-template-rows: 10vh 75vh 15vh;
}
header {
    grid-column: 1 / 3;
    grid-row: 1;
    padding: 1vh 0 0 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    font-size: 4vh;
}
main {
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h1 {
    min-height: 4vh;
    margin: 5vh 0 0 0;
}
.gameBox {
    height: 80%;
    width: 50%;
    background-color: black;
    display: grid;
    margin: 5vh 0 0 16.5vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5vw;
}
.square {
    transition: all 1s;
    background-color: rgb(255, 255, 255);
}
#messageBox {
    margin: 4vh 0 0 16.5vw;
    font-size: 3vh;
}
.options {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    flex-direction: column;
    align-items: center;
}
.options * {
    /* padding: 10px; */
    margin: 0;
}
.options h1 {
    font-size: 3vh;
    margin: 0 0 1.5vh 0;
}
.options h2 {
    font-size: 2.5vh;
    margin: 0 0 1vh 0;
}
.options h3 {
    font-size: 2vh;
}
#playerTwo {
    margin: 0 0 2vh 0;
}

.moveLogPrint {
    background-color: white;
    position: absolute;
    max-width: 20vw;
    left: 2vw;
    top: 11vh;
    visibility: hidden;
}

.hidden {
    visibility: visible;
}
.options button {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0.5vw;
    margin: 0.5vh 0 0 0;
    width: 90%;
    font-size: 2.5vh;
    font-family: Gluten;
    border-radius: 0.5vw;
    background-color: rgba(95, 140, 255, 0.631);
}

.nameChangeGrey {
    pointer-events: none;
    background-color: rgba(121, 121, 121, 0.426);
    transition: all 1s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.nameChangeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    min-width: 300px;
    min-height: 120px;
    width: 20vw;
    height: 15vh;
    padding: 2vh;
    border-radius: 2vh;
}

.nameChangeGrey button {
    font-family: Gluten;
    border-radius: 1vh;
    padding: 0.5vh;
}

footer {
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 10px;
}
